*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
/*-------------------NAV-------------------*/
header {
    position: sticky;
    top: 0;
    z-index: 100;
    transition: 0.4s ease; 
    background: #e4e4e4;
}
nav {
    height: 80px; 
    width: 100%;
    color: #000000;
}
.nav_container {
    display: flex;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
}
.nav_container img {
    height: 60px;
    width: auto;
    /* filter: invert(); */
}
.nav_label {
    font-size: 3em;
}
.nav_label, .nav_input {
    display: none;
}
.nav_menu {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
}
.nav_item {
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
.nav_item:hover, .nav_label:hover {
    color: crimson;
    transition: 0.4s;
}
/* -------NAV_SCROLLED------- */
header.scrolled {
    background: #56070c;
    transition: 0.4s ease; 
}
header.scrolled .nav_container img{
    filter: invert();
    transition: 0.4s ease; 
}
header.scrolled .nav_item, 
header.scrolled .nav_label{
    color: #f0f9ff;
}
/*---------------------------CONTENT---------------------------*/
h1 {
    grid-area: h1;
    color: #56070c;
    text-align: center;
}
.contacto_section {
    display: grid;
    padding: 1em 5%;
    gap: 0 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "h1 h1"
    "map info";
}
.map_div {
    grid-area: map;
}
.info_div {
    grid-area: info;
    text-align: right;
}
.map_div iframe{
    height: 400px;
    width: 500px;
}
/*---------------------------FOOTER---------------------------*/
.footer {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#56070c;
}
.footer h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
.footer a, footer p {
    text-decoration: none;
    color:#f0f9ff;
}
.footer ul, footer p {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}
.footer ul a, footer p {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}
.footer ul a:hover, .footer a p:hover {
    opacity:0.8;
    color: crimson;
    transition: 0.4s;
}
.footer .item.text {
    margin-bottom:36px;
}
.footer .item.text p {
    opacity:0.6;
    margin-bottom:0;
}
.footer .item.social {
    text-align:center;
}
.footer .item.social > a {
    font-size:20px;
    width:55px;
    height:55px;
    line-height:55px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}
.footer .item.social > a:hover {
    opacity:0.9;
    transition: 0.4s;
}
.footer .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}
/* 
------------------------------------------------------------------------------
------RESPONSIVE--------------------------------------------------------------
------------------------------------------------------------------------------
*/
/*---------------------------NAV---------------------------*/
@media (max-width:700px) {
    .nav_container img {
        height: 50px;
        width: auto;
        /* filter: invert(); */
    }
    .nav_item {
        color: #ffffff;
        text-decoration: none;
    }
    .nav_label{
        display: block;
        cursor: pointer;
        z-index: 100;
    }
    .nav_menu {
        position: fixed;
        background: #56070c;
        top: 80px;
        bottom: 0;
        width: 100%; 
        right: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        transition: 0.5s;
        z-index: 3;
    }
    .nav_input:checked + .nav_menu {
        width: 0;
        right: -20%;
        transition: 1s;
    }
/* -------NAV_SCROLLED------- */
    header.scrolled .nav_menu {
        background: #f0f9ff;
    }
    header.scrolled .nav_item{
        color:#000000;
    }
    header.scrolled .nav_item:hover,
    header.scrolled .nav_label:hover{
        color: crimson;
    }
}
/*---------------------------CONTENT---------------------------*/
@media (max-width:900px) {
    .contacto_section{
        display: block;
        }
    .map_div, .info_div{
        text-align: center;
        padding: 1em 0;
    } 
}

@media (max-width:600px) {
    .map_div iframe{
        height: 300px;
        width: 400px;
    }
}
@media (max-width:450px) {
    .map_div iframe{
        height: 200px;
        width: auto;
    }
}
/*---------------------------FOOTER---------------------------*/
@media (max-width:767px) {
    .footer .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
    .footer .item.text {
        margin-bottom:0;
      }
}
@media (max-width:991px) {
    .footer .item.social {
      text-align:center;
      margin-top:20px;
    }
}